@model web_hoteldemo.Models.DB.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-success">
        <h6 class="m-0 font-weight-bold text-white">Detalles del usuario</h6>
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 col-md-2">Nombre de Usuario</dt>
            <dd class="col-sm-9 col-md-10">@Html.DisplayFor(model => model.NombreUsuario)</dd>


            <dt class="col-sm-3 col-md-2">Estado</dt>
            <dd class="col-sm-9 col-md-10">@Model.Estado</dd>

            <dt class="col-sm-3 col-md-2">Rol</dt>
            <dd class="col-sm-9 col-md-10">@Html.DisplayFor(model => model.Rol)</dd>
        </dl>

        <div class="row">
            <div class="col-sm-12">
                <a asp-action="Edit" asp-route-id="@Model?.UsuarioId" class="btn btn-primary">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>


