@model web_hoteldemo.Models.Habitacion

<h2>Editar Habitación</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="habitacionID" />

    <div class="form-group">
        <label asp-for="tipo">Tipo:</label>
        <input asp-for="tipo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="detalle">Detalle:</label>
        <input asp-for="detalle" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="capacidad">Capacidad:</label>
        <input asp-for="capacidad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="idEstadoHabitacion">ID Estado Habitación:</label>
        <select asp-for="idEstadoHabitacion" class="form-control">
            <option value="1">DISPONIBLE</option>
            <option value="2">OCUPADO</option>
            <option value="3">LIMPIEZA</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="estado">Estado:</label>
        <select asp-for="estado" class="form-control">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="precioXpersona">Precio por Persona:</label>
        <input asp-for="precioXpersona" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>