
@{
    ViewData["Permiso denegado"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Acerca del sistema"]</h1>

<p>Proyecto universitario - 2024 - Dashboard HOTEL</p>