 <!-- Earnings (Monthly) Card Example -->

 @section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css" />

 }


<div class="row justify-content-center">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total en caja / Colones
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-primary" id="txtColones">₡@ViewBag.TotalEfectivo</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total en Caja / Dolares
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-primary" id="txtDolares">$@ViewBag.TotalDolares</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total en Cuenta / Boucher
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-primary" id="txtBoucher">₡@ViewBag.TotalBoucher</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="card shadow mb-4">
    <div class="card-header py-3 bg-success">
        <h6 class="m-0 font-weight-bold text-white">Reporte de bitacora.</h6>
    </div>

    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <table class="display" id="tabla_facturas" style="width:100%">
                    <thead>
                        <tr>

                            <th>Factura ID</th>
                            <th>Detalle</th>
                            <th>Monto total</th>
                            <th>IV</th>
                            <th>Monto pagado</th>
                            <th>Vuelto</th>
                            <th>Fecha</th>
                            <th>Colones</th>
                            <th>Dolares</th>
                            <th>Tarjeta</th>


                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>


            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

    <script>
        var tabladata;

        $(document).ready(function () {
            tabladata = $('#tabla_facturas').DataTable({
                "ajax": {
                    "url": "@Url.Action("ListarFacturas", "Reporte")",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [

                    { "data": "facturaID" },
                    { "data": "detalle" },
                    { "data": "montoTotal" },
                    { "data": "iv" },
                    { "data": "montoPagado" },
                    { "data": "montoVuelto" },
                    { "data": "fechaFactura" },
                    { "data": "montoColones" },
                    { "data": "montoDolares" },
                    { "data": "montoTarjeta" },

                ],
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/2.0.1/i18n/es-ES.json"
                },
                dom: "Bfrtip",
                buttons: [
                    {
                        extend: "excelHtml5",
                        text: "Exportar Excel",
                        filename: "Reporte facturas",
                        title: "Facturas Hotel PuraCode",
                    },
                    {
                        extend: "pdfHtml5",
                        text: "Exportar PDF",
                        filename: "Reporte facturas",
                        title: "Facturas Hotel PuraCode",
                    },
                    {
                        extend: "print",
                        title: ""
                    },
                ]

            });



        });
    </script>
}
